@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #000000;
  height: 100%;
}
html {
  height: 100%;
}
.fade {
  -webkit-mask-image: linear-gradient(transparent,#454444);
  mask-image: linear-gradient(transparent, #454444);
}

.fade1 {
  height: 50rem;
  -webkit-mask-image: linear-gradient(transparent,#ffffff,transparent);
  mask-image: linear-gradient(transparent,#ffffff,transparent);
}


input{
  outline: none;
}
.try{
  background:linear-gradient(to right, #f7f7f7,#e5e4e6 );
  height: 100%; 
}
.try1{
  background:linear-gradient(to right, #e5e4e6, #f0f1f1);
  height: 100%; 
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

html,body{
  height: 100vh;
  width: 100%;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}